@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;600;700&display=swap');

@font-face {
    font-family: 'Yekan';
    src: url('fonts/Yekan.ttf');
    font-weight: normal;
    font-style: normal;
}

:root {
    --orange: #F79F1F;
    --text-color-1: #444;
    --text-color-2: #666;
    --bg-color-1: #fff;
    --bg-color-2: #eee;
    --box-shadow: 0 .5rem 1.5rem rgba(0, 0, 0, .1);
}

* {
    font-family: 'Yekan' !important;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
    text-transform: capitalize;
    transition: all .2s linear;
}

html {
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-padding-top: 7rem;
    scroll-behavior: smooth;
}

html::-webkit-scrollbar {
    width: .8rem;
}

html::-webkit-scrollbar-track {
    background: transparent;
}

html::-webkit-scrollbar-thumb {
    background: var(--orange);
    border-radius: 5rem;
}

body {
    background: var(--bg-color-2);
}

section {
    padding: 2rem 7%;
}

.heading {
    text-align: center;
    padding-bottom: 2rem;
    color: var(--text-color-1);
    font-size: 4rem;
}

.heading span {
    position: relative;
    z-index: 0;
}

.heading span::before {
    content: '';
    position: absolute;
    bottom: 1rem;
    left: 0;
    z-index: -1;
    background: var(--orange);
    height: 100%;
    width: 100%;
    clip-path: polygon(0 90%, 100% 83%, 100% 100%, 0% 100%);
}

.btn {
    margin-top: 1rem;
    display: inline-block;
    padding: .8rem 3rem;
    font-size: 1.7rem;
    color: #fff;
    background: var(--orange);
    border-radius: .5rem;
    cursor: pointer;
}

.btn:hover {
    letter-spacing: .2rem;
}

.header {
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
    background: var(--bg-color-1);
    box-shadow: var(--box-shadow);
    padding: 1.5rem 7%;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header .logo {
    font-weight: bolder;
    font-size: 2.5rem;
    color: var(--text-color-1);
}

.header .logo i {
    color: var(--orange);
}

.header .logo img {
    width: 50px;
    margin: 0px 20px;
}


.header .icons {
    display: flex;
    flex-direction: row;
}

.header .icons div {
    height: 4.5rem;
    width: 10rem;
    line-height: 4.5rem;
    font-size: 2rem;
    border-radius: .5rem;
    margin-left: .5rem;
    background: var(--bg-color-2);
    color: var(--text-color-1);
    cursor: pointer;
    text-align: center;
}

.header .icons div:hover {
    color: #fff;
    background: var(--orange);
}

#search-btn {
    display: none;
}

.home {
    width: 100%;
    padding: 0;
}

.header-image {
    width: 100%;
}

.form-container form {
    background: var(--bg-color-1);
    box-shadow: var(--box-shadow);
    border-radius: .5rem;
    padding: 2rem;
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    align-items: center;
}

.form-container form .inputBox {
    flex: 1 1 23rem;
}

.form-container form .inputBox span {
    font-size: 1.7rem;
    color: var(--text-color-2);
}

.form-container form .inputBox input {
    font-size: 1.5rem;
    color: var(--text-color-1);
    background: var(--bg-color-2);
    border-radius: .5rem;
    margin: .5rem 0;
    text-transform: none;
    width: 100%;
    padding: 1rem;
}

.form-container form .inputBox div .psg-input {
    height: 4.5rem;
    width: 10rem;
    line-height: 4.5rem;
    font-size: 2rem;
    border-radius: .5rem;
    margin-left: .5rem;
    background: var(--bg-color-2);
    color: var(--text-color-1);
    cursor: pointer;
    text-align: center;
}

.inc-dcr-psg-btn {
    height: 4.5rem;
    width: 4.5rem;
    line-height: 4.5rem;
    font-size: 2rem;
    border-radius: .5rem;
    margin-left: .5rem;
    background: var(--bg-color-2);
    color: var(--text-color-1);
    cursor: pointer;
    text-align: center;
}

.inc-dcr-psg-btn:hover {
    color: #fff;
    background: var(--orange);
}

.psg-number {
    margin-left: .5rem;
}

.form-container form .btn {
    flex: 1 1 23rem;
}

.packages .box-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    gap: 1.5rem;
}

.packages .box-container .box {
    background: var(--bg-color-1);
    border-radius: .5rem;
    box-shadow: var(--box-shadow);
}

.packages .box-container .box .image {
    height: 25rem;
    width: 100%;
    padding: 1.5rem;
    position: relative;
}

.packages .box-container .box .image img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: .5rem;
}

.packages .box-container .box .image h3 {
    position: absolute;
    top: 2.5rem;
    left: 2.5rem;
    font-size: 2rem;
    color: #fff;
    background: rgba(0, 0, 0, .5);
    border-radius: .5rem;
    font-weight: lighter;
    padding: .5rem 1.5rem;
}

.packages .box-container .box .image h3 i {
    color: var(--orange);
}

.packages .box-container .box .content {
    padding: 1.5rem;
    padding-top: 0;
}

.packages .box-container .box .content .price {
    font-weight: 600;
    color: var(--text-color-1);
    font-size: 2.5rem;
}

.packages .box-container .box .content .price span {
    font-weight: lighter;
    color: var(--text-color-2);
    font-size: 1.5rem;
    text-decoration: line-through;
}

.packages .box-container .box .content p {
    font-size: 1.5rem;
    padding: .5rem 0;
    color: var(--text-color-2);
    line-height: 1.7;
}

.price-span {
    margin: 0px 20px;
}

.swiper-pagination-bullet-active {
    background: var(--orange);
}

.footer {
    text-align: center;
}

* {
    box-sizing: border-box;
}

body {
    font: 16px Arial;
}

.autocomplete {
    /*the container must be positioned relative:*/
    position: relative;
    display: inline-block;
}

input {
    border: 1px solid transparent;
    background-color: #f1f1f1;
    padding: 10px;
    font-size: 16px;
}

input[type=text] {
    background-color: #f1f1f1;
    width: 100%;
}

input[type=submit] {
    background-color: DodgerBlue;
    color: #fff;
}

.autocomplete-items {
    position: absolute;
    border: 1px solid #d4d4d4;
    border-bottom: none;
    border-top: none;
    z-index: 99;
    /*position the autocomplete items to be the same width as the container:*/
    top: 100%;
    left: 0;
    right: 0;
}

.autocomplete-items div {
    padding: 10px;
    cursor: pointer;
    background-color: #fff;
    border-bottom: 1px solid #d4d4d4;
}

.autocomplete-items div:hover {
    /*when hovering an item:*/
    background-color: #e9e9e9;
}

.autocomplete-active {
    /*when navigating through the items using the arrow keys:*/
    background-color: DodgerBlue !important;
    color: #ffffff;
}

@media (max-width:1000px) {

    html {
        font-size: 55%;
    }

    .header {
        padding: 1.5rem 2rem;
    }

    section {
        padding: 2rem;
    }

}

@media (max-width:500px) {

    html {
        font-size: 50%;
    }
}

@media (prefers-color-scheme: dark) {
    body.dark-mode {
        --text-color-1: #fff;
        --text-color-2: #eee;
        --bg-color-1: #333;
        --bg-color-2: #222;
        --box-shadow: 0 .5rem 1.5rem rgba(0, 0, 0, .4);
    }
}