html,
body {
    width: 100%;
    height: 100%;
    background-color: rgb(245, 245, 245);
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.login-form {
    display: flex;
    flex-direction: column;
}

